/*General*/
* {
	box-sizing: border-box;
}


body {
	background-color: #EFEFEF;
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	margin: 0;
	width: 100%;
}

/*Header*/

.header {
	background-color: #2B2B2B;
	display: flex;
	height: 10rem;
	padding: 1rem 2rem 2rem;
	width: 100%;
}

.header-right {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: right;
	text-align: right;
	width: 70rem;
}

.header-top-right {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 12.5rem;
}

.header-nav {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 45rem;
}


.header-title {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	height: 5.5rem;
	justify-content: space-between;
	text-align: right;
}

.menu-icon-hide {
	display: none;
	height: 2rem;
	width: 2rem;
}

h1 {
	font-family: "linguistics pro";
	font-size: 3rem;
}

li:hover {
	color: white;
}

.nav-button-text {
	align-items: center;
	color: #8D8D8D;
	cursor: pointer;
	display: flex;
	justify-content: space-between;

}

.nav-button-icon {
	cursor: pointer;
	padding-left: 0.5rem;
}

.nav-button-icon:hover {
	box-shadow: 0 0 1px #FFFFFF;
}

.icon {
	padding-right: 0.5rem;
	position: relative;
	top: 2px;
}
.icon-shares {
	height: 1.5rem;
	width: 1.5rem;
}


.icon-list {
	height: 1.5rem;
	width: 1.5rem;
}

.icon-personal {
	height: 1.5rem;
	width: 1.5rem;
}

.registered {
	font-size: 0.02rem;
	height: 2.5rem;
}

.username-menu-text {
	color: #57B0F9;
	cursor: pointer;
}

.username-menu-text:hover {
	color: #FFFFFF;
}

.username-menu-icon {
	/*background-image: url("Icons/user.svg");*/
	cursor: pointer;
	height: 2rem;
	width: 2rem;
}

.nav-button-icon:hover {
	box-shadow: 0 0 1px #FFFFFF;
}

.nav-button-hover:hover {
	box-shadow: 0 0 1px #FFFFFF;
}

.username-menu-arrow {
	cursor: pointer;
	height: 1rem;
	position: relative;
	top: 3px;
	width: 1rem;
}

.username-icon-hide {
	display: none;
	height: 2rem;
	width: 2rem;
}

.h1-icon {
	background-image: url("Icons/h1-logo.svg");
	height: 2.5rem;
	margin-left: 0.25rem;
	position: relative;
	top: 4px;
	width: 2.5rem;
}


/*Article*//*HeaderA*/
h2 {
	color: #4D4D4D;
	font-size: 2rem;
	font-weight: 600;
	padding: 0;
}

.article-gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	grid-gap: 1rem;
	width: 100%;
}

.article-entry {
	box-shadow: 0 0 1px 1px #C0C1C0;
	height: 28rem;
	transition-duration: 0.2s;
}

.article-entry:hover {
	box-shadow: 2px 2px 3px 3px #C0C1C0;

}

.article-header {
	background-repeat: no-repeat;
	display: flex;
	background-size: cover;
	background-position: center;
	height: 10rem;
	justify-content: space-between;
	padding: 1rem;
	width: 100%;
}

/*Article Header Images*/
.amsterdam {
	background-image: url("Article_Images/Amsterdam.jpg");
}

.brussels {
	background-image: url("Article_Images/Brussels.jpg");
}

.budapest {
	background-image: url("Article_Images/Budapest.jpg");
}

.hamburg {
	background-image: url("Article_Images/Hamburg.jpg");
}

.prague {
	background-image: url("Article_Images/Prague.jpg");
}

.stockholm {
	background-image: url("Article_Images/Stockholm.jpg");
}

.vienna {
	background-image: url("Article_Images/Vienna.jpg");
}

.zagreb {
	background-image: url("Article_Images/Zagreb.jpg");
}

.aside-share-icon {
	cursor: pointer;
	height: 4rem;
	width: 4rem;
}

.aside-share-icon:hover {
	height: 4.5rem;
	width: 4.5rem;
}

.view-counter {

}


/*Article*//*Main*/
main {
	margin: 0 2rem;
}

.article-main {
	background-color: #FAFAFA;
	height: 18rem;
	padding: 1rem 1rem 1.5rem;
	width: 100%;
}

.article-link-insert {
	background-color: #EFEFEF;
	margin: 1rem auto;
	padding: 0.5rem;
	width: 100%;
}

.name-of-playlist {
	margin-bottom: 1rem;
}

p {
	margin: 0;
	padding: 0;
}

/*Article Fonts*/
/*Sizes*/
.large-no-caps {
	font-size: 1rem;
}

.small-caps {
	font-size: 0.75rem;
}

.day-counter {
	text-align: center;
}

.small-no-caps {
	font-size: 0.75rem;
}

.large-counter {
	font-size: 2rem;
	font-weight: 400;
}

/*Colors*/
.font-black {
	color: #4D4D4D;
}

.font-blue {
	color: #57B0F9;
}

.font-white {
	color: #FFF;
}



/*Individual*/
.article-link {
	color: #8D8D8D;
	text-decoration: none;
	word-wrap: break-word;
}

.article-link:hover {
	color: #000000;
}

time {
	color: #CBCBCB;
}


/*Media Queries*/

@media screen and (max-width: 1080px) {
.header-nav {
	 flex-direction: column;
   width: 45rem;
   align-items: flex-start;
}

}

@media screen and (max-width: 830px) {
	h1 {
	font-size: 2rem;
}

.h1-icon {
	height: 2rem;
	width: 2rem;
}
.header-title {
	height: 3.8rem;
}
}

@media screen and (max-width: 768px) {
.article-entry {
	height: 23rem;
}

.article-header {
	height: 7rem;
}

.article-main {
	height: 16rem;
}

}

@media screen and (max-width: 625px) {
	main {
		margin: 0 8rem;
}

}

@media screen and (max-width: 550px) {
	main {
		margin: 0 6rem;
}

}

@media screen and (max-width: 500px) {
	main {
		margin: 0 4rem;
	}

.header-right {
	align-items: center;

}

.header-nav {
	display: none;
}

.menu-icon-hide {
	display: inline-block;
}

.header-top-right {
	display: none;
}

.username-icon-hide {
	display: flex;
	align-self: flex-end;
}

}

@media screen and (max-width: 400px) {
	main {
		margin: 0 2rem;
	}
}
