/*General*/
* {
	box-sizing: border-box;
}


body {
	height: 100%;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: #EFEFEF;

}





/*Header*/

.header {
	background-color: #2B2B2B;
	display: flex;
	width: 100%;
	height: 10rem;
	padding: 1rem 2rem 2rem;
}

.header-right {
	display: flex;
	text-align: right;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	width: 70rem;
	text-align: right;
	/*margin: 0;*/
}

.header-top-right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 12.5rem;
}

.header-nav {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	width: 45rem;
	align-items: flex-end;
	/*height: 8rem;*/
	margin: 0;
	padding: 0;
}


.header-title {
	display: flex;
	text-align: right;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	height: 5.5rem;
}



h1 {
	font-family: "linguistics pro";
	font-size: 3rem;
}

li:hover {
	color: white;
}

.nav-button-text {
	color: #8D8D8D;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;

}

.nav-button-icon {
	cursor: pointer;
}

.icon {
	padding-right: 0.5rem;
	position: relative;
	top: 2px;
}
.icon-shares {
	/*background-image: url("Icons/shares.svg");*/
	height: 1.5rem;
	width: 1.5rem;
}


.icon-list {
	/*background-image: url("Icons/list.svg");*/
	height: 1.5rem;
	width: 1.5rem;
}

.icon-personal {
	height: 1.5rem;
	width: 1.5rem;
}

.registered {
	height: 2.5rem;
	font-size: 0.02rem;
}

.username-menu-text {
	color: #57B0F9;
	cursor: pointer;
}

.username-menu-text:hover {
	color: #FFFFFF;
}

.username-menu-icon {
	/*background-image: url("Icons/user.svg");*/
	height: 2rem;
	width: 2rem;
	cursor: pointer;
}

.username-menu-arrow {
	/*background-image: url("Icons/user-arrow.svg");*/
	height: 1rem;
	width: 1rem;
	cursor: pointer;
	position: relative;
	top: 3px;
}

.h1-icon {
	background-image: url("Icons/h1-logo.svg");
	height: 2.5rem;
	width: 2.5rem;
	margin-left: 0.25rem;
	position: relative;
	top: 4px;
}


/*Article*//*HeaderA*/


h2 {
	padding: 0;
	color: #4D4D4D;
	font-size: 2rem;
	font-weight: 600;
}

.article-gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	/*grid-template-columns: repeat(4, 1fr);*/

	grid-gap: 1rem;
	/*grid-auto-flow: dense;*/
	width: 100%;
}

.article-entry {
	height: 28rem;
	box-shadow: 0 0 1px 1px #C0C1C0;
	transition-duration: 0.2s;
}

.article-entry:hover {
	box-shadow: 2px 2px 3px 3px #C0C1C0;

}

.article-header {
	background-repeat: no-repeat;
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 10rem;
	padding: 1rem;
}

.amsterdam {
	background-image: url("Article_Images/Amsterdam.jpg");
	background-size: cover;
}

.brussels {
	background-image: url("Article_Images/Brussels.jpg");
	background-size: cover;
}

.budapest {
	background-image: url("Article_Images/Budapest.jpg");
	background-size: cover;
}

.hamburg {
	background-image: url("Article_Images/Hamburg.jpg");
	background-size: cover;
}

.prague {
	background-image: url("Article_Images/Prague.jpg");
	background-size: cover;
}

.stockholm {
	background-image: url("Article_Images/Stockholm.jpg");
	background-size: cover;
}

.vienna {
	background-image: url("Article_Images/Vienna.jpg");
	background-size: cover;
}

.zagreb {
	background-image: url("Article_Images/Zagreb.jpg");
	background-size: cover;
}


.aside-share-icon {
	height: 4rem;
	width: 4rem;
	cursor: pointer;
}

.aside-share-icon:hover {
	height: 4.5rem;
	width: 4.5rem;
}


.view-counter {

}

h5 {

}

h3 {

}

/*Article*//*Main*/
main {
	margin: 0 2rem;
}

.article-main {
	background-color: #FAFAFA;
	width: 100%;
	padding: 1rem 1rem 1.5rem;
	height: 18rem;
}

.article-link-insert {
	background-color: #EFEFEF;
	width: 100%;
	padding: 0.5rem;
	margin: 1rem auto;
}

.name-of-playlist {
	margin-bottom: 1rem;
}

h5 {

}

p {
	margin: 0;
	padding: 0;
}

/*Article Fonts*/
/*Sizes*/
.large-no-caps {
	font-size: 1rem;
}

.small-caps {
	font-size: 0.75rem;
}

.day-counter {
	text-align: center;
}

.small-no-caps {
font-size: 0.75rem;
}

.large-counter {
	font-size: 2rem;
	font-weight: 400;
}

/*Colors*/
.font-black {
	color: #4D4D4D;
}

.font-blue {
	color: #57B0F9;
}

.font-white {
	color: #FFF;
}



/*Individual*/
.article-link {
	color: #8D8D8D;
	text-decoration: none;
	word-wrap: break-word;
}

.article-link:hover {
	color: #000000;
}

time {
	color: #CBCBCB;
}


/*Media Queries*/

@media screen and (max-width: 1080px) {
.header-nav {
	 flex-direction: column;
   width: 45rem;
   align-items: flex-start;
}

}


@media screen and (max-width: 830px) {
	h1 {
	font-size: 2rem;
}

.h1-icon {
	height: 2rem;
	width: 2rem;
}
.header-title {
	height: 3.8rem;
}
}

@media screen and (max-width: 768px) {
.article-entry {
	height: 23rem;
}

.article-header {
	height: 7rem;
}

.article-main {
	height: 16rem;
}


}

@media screen and (max-width: 700px) {




}


@media screen and (max-width: 600px) {

}

/*@media screen and (max-width: 360px) {
	.article-gallery {
		display: block;
		width: 100%;
	}

	main {
	width: 100%;
	margin: 0 1rem;
}*/

}











